<div id="step-overview">
    <div>
        <ms-step-overview ng-if="!vm.isStepTabletMode"
                          ng-repeat="step in vm.templateOverview.steps" step="step"
                          project-Id="vm.projectId" expandable="true">
        </ms-step-overview>
    </div>

    <div layout-padding ng-if="vm.isStepTabletMode">
        <md-tabs md-no-pagination md-dynamic-height md-swipe-content md-stretch-tabs="always">
            <md-tab ng-repeat="step in vm.templateOverview.steps">
                <md-tab-label>{{ step.stepName }}</md-tab-label>
                <md-content>
                    <ms-step-overview step="step" project-Id="vm.projectId" expandable="false" >

                    </ms-step-overview>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>