#step-overview
{
  md-icon {
    color: rgba(255, 255, 255, 0.70);
  }
}

.step-table-title
{
  font-size: 18px;
  padding: 18px;
}



md-grid-tile
{
  //height: 100%;
}


//
//#step-overview-steps md-content md-tabs {
//  background: #f6f6f6;
//  border: 1px solid #e1e1e1;
//}