.ms-filter-input-text{
  text-overflow: ellipsis;
  max-width: 24em;
  white-space: nowrap;
}

  .ms-filter-data{
  text-overflow: ellipsis;
  max-width: 23em;
  overflow: hidden;
  white-space: nowrap
}