#dashboard-project {
    transform: translate3d(0, 0, 0);

  .padding-10
  {
    padding: 0px;
  }

  #dashBoardDetails
  {
    thead tr:first-child
    {
      background-color: #464646;
	  color: #b1d23b;
    };
    tr:hover {
      background-color: #b3b3b3;
      color: white;
    }
	tr:hover a{
      color: white;
    }
    tr
    {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
  }

  .renewStyle
  {
    cursor: pointer;
    color: #27a9bc;
  }

  .deleteWorkupStyle
  {
    cursor: pointer;
    color: #27a9bc;
  }

  .overviewStyle
  {
    color: #27a9bc;
  }

  .not-active {
    pointer-events: none;
    cursor: default;
    background-color: yellow;
    opacity: 0.6;
  }
}


@media screen
and (min-device-width: 1200px)
and (max-device-width: 4000px) {
  .menu-action{
    position:fixed;
    left:96%;
    top:15px;
    z-index: 99;
  }
}
//
//@media screen
//and (min-device-width: 800px)
//and (max-device-width: 1199px) {
//  .menu-action{
//    position:fixed;
//    left:94%;
//    top:15px;
//    z-index: 99;
//  }
//}
//
//
//@media screen
//and (min-device-width: 400px)
//and (max-device-width: 799px) {
//  .menu-action{
//    position:fixed;
//    left:92%;
//    top:15px;
//    z-index: 99;
//  }
//}
//
//
//@media screen
//and (min-device-width: 400px)
//and (max-device-width: 799px) {
//  .menu-action{
//    position:fixed;
//    left:92%;
//    top:15px;
//    z-index: 99;
//  }
//}


@media screen and (min-width: 980px)  {
  .menu-action{
    position:fixed;
    left:94%;
    top:15px;
    z-index: 99;
  }
}

@media screen  and (max-width: 979px)  {
  .menu-action{
    position:fixed;
    left:93%;
    top:15px;
    z-index: 99;
  }
}


@media screen and (max-width: 500px) {
  .menu-action{
    position:fixed;
    left:86%;
    top:15px;
    z-index: 99;
  }
}

