
<div ng-include="'app/main/apps/dashboards/menu/menu.html'" class="menu-action" >

</div>

<div id="dashboard-project" class="page-layout simple fullwidth white-bg" layout="row"
     ng-cloak md-swipe-left="vm.toggleSidenav('quick-panel')">

    <div class="center" flex layout-padding>
        <div style="border: 1px solid lightgrey; border-radius: 3px; margin-bottom: 5px" layout-padding
             ng-show="vm.searches && vm.searches.length > 0">
            <span>Filter Criteria: </span>
            <md-chips ng-model="vm.searches" ng-click="vm.filterAgain('')" readonly="true" md-removable="true"></md-chips>
        </div>


        <md-content class="div-content">
                <table class="row-border cell-border table-bordered" ms-export width="100%"
                       id="dashBoardDetails" layout-padding datatable="" dt-options="vm.dtOptions"
                       dt-column-defs="vm.dtColumnDefs" dt-columns="vm.dtColumns" dt-instance="vm.dtInstanceCallback">

                </table>
        </md-content>
    </div>

</div>
