#dashboard-project {
  transform: translate3d(0, 0, 0);

  .padding-10 {
    padding: 0px;
  }

  #dashBoardDetails {
    thead tr:first-child {
      background-color: #464646;
      color: #b1d23b;
    }
  ;
    tr:hover {
      background-color: #b3b3b3;
      color: white;
    }
    tr:hover a {
      color: white;
    }
    tr {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
  }

  .renewStyle {
    cursor: pointer;
    color: #27a9bc;
  }

  .deleteWorkupStyle {
    cursor: pointer;
    color: #27a9bc;
  }

  .overviewStyle {
    color: #27a9bc;
  }

  .not-active {
    pointer-events: none;
    cursor: default;
    background-color: yellow;
    opacity: 0.6;
  }

  .new-platform-logo {
    display: block;
    background: #464646 url("../assets/images/logos/insite.png") center no-repeat;
    background-size: 70%;
    width: 30px;
    height: 20px;
    margin: 0 auto;
  }

  .advisen-logo {
    display: block;
    background: url("../assets/images/logos/advisen-logo-short.png") no-repeat;
    background-size: 70%;
    width: 30px;
    height: 20px;
    margin: 0 auto;
  }
  .dashboard-filter-summary {
    border: 1px solid lightgrey;
    border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px
  }

}

