<div id="template-steps" class="page-layout simple fullwidth white-bg" layout="row"
     ng-cloak>
    <div class="center" flex>
        <ms-template ng-if="!!vm.TearSheetStep"
                     components="vm.TearSheetStep"
                     step-id="vm.stepId"
                     refreshstep="vm.refreshstep">
        </ms-template>

        <button ng-if="false" class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button" ng-transclude=""
                docs-scroll-class="scrolling"  aria-label="Back to Top">
            <md-icon md-font-icon="icon-chevron-up"></md-icon>
        </button>
    </div>
</div>
