<md-sidenav id="navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-md')"
            md-component-id="navigation" ms-nav-is-folded="false" ms-scroll ui-view="navigation"></md-sidenav>

<div id="content-container" flex layout="column">
    <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-2dp md-background-bg" ui-view="toolbar">
    </md-toolbar>

    <div id="breadcrumb" layout="row" flex="100" class="md-primary-bg" ui-view="breadcrumb" hide-sm>
    </div>


    <div id="content" flex>
        <md-content id="main-content" class="md-background md-hue-1 animate slide-up" ui-view="content" flex>

        </md-content>
    </div>

    <div id="bottomsheet" layout="row"  ng-if="$root.isBottomSheet" layout-align="center center" flex ui-view="bottomsheet"></div>


</div>

<md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp"
            md-component-id="quick-panel" ui-view="search-engine" ms-scroll>
</md-sidenav>
