<div style="padding-bottom: 10px">
    <div class="md-whiteframe-2dp" >
        <div id="ms-accordion" class="step-table-title md-amber-A200-bg">
            {{ title }}
            <md-button class="md-icon-button" aria-label="expand/collapse"
                       ng-if="iscollapse"
                       ng-click="collapse()" style="float:right">
                <md-tooltip md-direction="top">
                    Expand/Collapse
                </md-tooltip>
                <md-icon md-font-icon="icon-backburger" ng-class="collapsed ? 'ms-collapse' : 'ms-expand'"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <div id="ms-accordion-content" ng-show="!collapsed" layout-padding>

        </div>
    </div>
</div>