<div style="padding-bottom: 10px">
    <div class="md-whiteframe-1dp">
        <div id="ms-chart-accordion" class="step-table-title md-amber-A200-bg">
           Chart

            <i class="icon-lock s12" ng-if="vm.isNonEditable"></i>

            <md-button class="md-icon-button" aria-label="expand/collapse"
                       ng-if="vm.iscollapsible"
                       ng-click="vm.toggleCollapse()" style="float:right">
                <md-icon md-font-icon="icon-backburger" ng-class="vm.collapsed ? 'ms-collapse' : 'ms-expand'"></md-icon>
            </md-button>

            <!--<md-button class="md-icon-button" aria-label="reset"-->
                       <!--style="float:right">-->
                <!--<md-icon md-font-icon="icon-reload"></md-icon>-->
            <!--</md-button>-->

            <!--<md-button class="md-icon-button" aria-label="add"-->
                       <!--style="float:right">-->
                <!--<md-icon md-font-icon="icon-plus"></md-icon>-->
            <!--</md-button>-->

            <!--<md-button class="md-icon-button" aria-label="save"-->
                       <!--style="float:right">-->
                <!--<md-icon md-font-icon="icon-content-save"></md-icon>-->
            <!--</md-button>-->

        </div>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-if="!vm.isProcessComplete"></md-progress-linear>
        <md-divider></md-divider>
        <div id="ms-chart-accordion-content" ng-show="!vm.collapsed" layout-padding>

        </div>
    </div>
</div>