<div ng-repeat="items in vm.bookmarkedItems" ng-if="vm.bookmarkedItems.length > 0" id="msNewsAttachment">
    <ms-accordion remove-bookmark-event="{{vm.attachmentNews}}" is-expandable="true" id="ms-accordion" ng-hide="{{(vm.removeAttachment) ? 'true' : 'false'}}" row="items.rowId" collapsed="true" index="$index" title="{{items.title}}">
        <div ng-show="items.isLoaded" ng-bind-html="items.htmlArticle"></div>
    </ms-accordion>
</div>

<div ng-if="vm.bookmarkedItems.length == 0">
    <div flex>
        <ms-message message="No News Articles Attached"></ms-message>
    </div>
</div>