<div layout="row" layout-align="start center" ng-clock>
    <md-button id="navigation-toggle" class="md-icon-button" style="padding-top: 20px" ng-click="vm.toggleSidenav('navigation')"
    hide-gt-md aria-label="Toggle navigation">
    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
    </md-button>

    <md-button id="navigation-sidenav-mode-toggle" class="md-icon-button" style="padding-top: 20px"
    ng-click="vm.toggleNavigationSidenavFold($event)" hide show-gt-md
    aria-label="Toggle navigation mode">
    <md-icon md-font-icon="icon-backburger" class="icon"></md-icon>
    </md-button>

    <div layout="row" layout-align="start center" style="padding-left: 5px">
        <i class="fa fa-folder-open-o s16"></i>
        <span style="padding-left: 5px">My Work-ups </span>
    </div>

    <div flex>
        <div ng-include="vm.url"></div>

    </div>

</div>
