<div layout="row" layout-align="start center" ng-clock>
    <md-button id="navigation-toggle" class="md-icon-button" style="padding-top: 20px" ng-click="vm.toggleSidenav('navigation')"
    hide-gt-md aria-label="Toggle navigation">
    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
    </md-button>

    <md-button id="navigation-sidenav-mode-toggle" class="md-icon-button" style="padding-top: 20px"
    ng-click="vm.toggleNavigationSidenavFold($event)" hide show-gt-md
    aria-label="Toggle navigation mode">
    <md-icon md-font-icon="icon-backburger" class="icon"></md-icon>
    </md-button>

    <div layout="row" layout-align="start center" style="padding-left: 5px">
        <i class="{{vm.menuIcon}}"></i>
        <span style="padding-left: 5px">{{vm.menuName}}</span>
    </div>

    <!--<div layout="row" ng-if="vm.companyId" flex="30" hide-xs layout-align="center center" style="font-weight: normal; font-size: small " >-->
        <!--<div>-->
            <!--<div layout="column">-->
                <!--<div>-->
                       <!--Company Id: {{vm.companyId}}-->
                <!--</div>-->
                <!--<div>-->
                    <!--Company Name: {{vm.companyName}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
