<div layout="row" layout-align="start center" ng-clock>
    <md-button id="navigation-toggle" class="md-icon-button" style="padding-top: 20px" ng-click="vm.toggleSidenav('navigation')"
    hide-gt-md aria-label="Toggle navigation">
    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
    </md-button>

    <md-button id="navigation-sidenav-mode-toggle" class="md-icon-button" style="padding-top: 20px"
    ng-click="vm.toggleNavigationSidenavFold($event)" hide show-gt-md
    aria-label="Toggle navigation mode">
    <md-icon md-font-icon="icon-backburger" class="icon"></md-icon>
    </md-button>

    <div flex layout="row" layout-align="space-between center" style="padding-left: 5px;">
       <div layout="row" layout-align="space-around center">
           <i class="{{vm.menuIcon}}"></i>
           <div  class="ms-menu-label" show-xs hide-gt-xs style="width: 9em; padding-left: 5px">{{vm.menuName}}</div>
           <div hide-xs show-gt-xs style="padding-left: 5px">{{vm.menuName}}</div>
       </div>
        <div>
            <md-menu ng-if="vm.menuMode === 'Dashboard'" md-position-mode="target-right target">
                <md-button aria-label="more" class="md-icon-button"
                           ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="icon-dots-vertical" style="float: right"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button  aria-label="Filter widget" ng-click="vm.toggleSidenav('quick-panel')">
                                              <span layout="row" layout-align="start center">
                                                    <md-icon md-font-icon="icon-filter"></md-icon>
                                                    <span>Filter</span>
                                              </span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button  aria-label="Refresh widget" ng-click="vm.dashboardReload()">
                                              <span layout="row" layout-align="start center">
                                                <md-icon md-font-icon="icon-reload"></md-icon>
                                                <span>Reload</span>
                                              </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu ng-if="vm.menuMode === 'ProjectOverview'" md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="more">
                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                </md-button>

                <md-menu-content flex center>
                    <md-menu-item>
                        <md-button  aria-label="save all" ng-click="vm.saveAllProjectOverview()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-content-save-all"></md-icon>
                                                        <span>Save All</span>
                                                  </span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button  aria-label="mode widget" ng-click="vm.flipProjectOverView()">
                                                  <span layout="row" layout-align="start center" ng-if="!vm.isStepTabletMode">
                                                    <md-icon md-font-icon="icon-tablet-ipad" ></md-icon>
                                                    <span>Tablet Mode</span>
                                                  </span>

                                                  <span layout="row" layout-align="start center" ng-if="vm.isStepTabletMode">
                                                     <md-icon md-font-icon="icon-desktop-mac"></md-icon>
                                                    <span>Desktop Mode</span>
                                                  </span>

                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button  aria-label="expand all" ng-click="vm.toggleExpandProjectOverview()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-backburger" ng-class="vm.isProjectOverviewExpanded ? 'ms-expand' : 'ms-collapse'"></md-icon>
                                                        <span ng-if="vm.isExpanded">Collapse All</span>
														<span ng-if="!vm.isExpanded">Expand All</span>
                                                  </span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                                              <span layout="row" layout-align="start center">
                                                <div>
                                                    <md-checkbox aria-label="select" class="no-padding-margin" style="margin-left:5px;" ng-click="vm.flipSelectionOverview()">
                                                        <span style="font-size: 16px;margin-left:7px;">{{(vm.isProjectOverviewAllSelected) ? 'Unselect All' : 'Select All'}}</span>
                                                    </md-checkbox>
                                                </div>
                                              </span>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button aria-label="save all" ng-click="vm.pdfDownload()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-file-pdf-box"></md-icon>
                                                        <span>PDF Download</span>
                                                  </span>
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button  aria-label="save all" ng-click="vm.renew()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-rotate-3d"></md-icon>
                                                        <span>Renew</span>
                                                  </span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <div ng-if="vm.menuMode === 'Steps'" layout="row" layout-align="center center">
                <div hide-xs>
                    <md-button class="md-icon-button md-primary" aria-label="Previous" ng-click="vm.previousStep()">
                        <md-icon md-font-icon="icon-chevron-left" class="icon"></md-icon>
                    </md-button>
                </div>
                <div hide-xs>
                    <md-button class="md-icon-button md-primary" aria-label="Next"  ng-click="vm.nextStep()">
                        <md-icon md-font-icon="icon-chevron-right" class="icon"></md-icon>
                    </md-button>
                </div>
                <div>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="more" class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)">
                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                        </md-button>

                        <md-menu-content>
                            <md-menu-item>
                                <md-button aria-label="save all" ng-click="vm.stepSaveAll()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-content-save-all"></md-icon>
                                                        <span>Save All</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button aria-label="expand all" ng-click="vm.stepToggleExpand()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-backburger"
                                                                 ng-class="vm.isStepExpanded ? 'ms-expand' : 'ms-collapse'"></md-icon>
                                                        <span ng-if="vm.isStepExpanded">Collapse All</span>
                                                       <span ng-if="!vm.isStepExpanded">Expand All</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                             <span layout="row" layout-align="start center">
                                                <div>
                                                    <md-checkbox aria-label="On/Off Pdf" class="no-padding-margin" style="margin-left:5px;" ng-click="vm.printableAll()"></md-checkbox>
                                                    <span style="font-size: 16px;margin-left:7px;">{{(vm.isPrintableAll) ? 'Unselect All' : 'Select All'}}</span>
                                                </div>
                                            </span>
                            </md-menu-item>


                            <md-menu-item>
                                <md-button aria-label="save all" ng-click="vm.pdfDownload()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-file-pdf-box"></md-icon>
                                                        <span>PDF Download</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button  aria-label="save all" ng-click="vm.renew()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-rotate-3d"></md-icon>
                                                        <span>Renew</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item hide-gt-xs>
                                <md-button  aria-label="previous" ng-click="vm.previousStep()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-chevron-left"></md-icon>
                                                        <span>Previous</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item hide-gt-xs>
                                <md-button  aria-label="next" ng-click="vm.nextStep()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-chevron-right"></md-icon>
                                                        <span>Next</span>
                                                  </span>
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</div>
