
  div#ms-accordion 
  { 
    min-height: 50px !important;
    padding: 10px !important;
    // padding-left:10px !important; 
  }

 
 
button.md-button 
{
  min-width: 15px;
}

.minPadding {
    padding-top: 20px;
}