<div id="search-project" class="page-layout simple fullwidth white-bg" layout="row" ng-cloak md-swipe-right="vm.toggleSidenav('quick-panel')">

    <!-- CENTER -->
    <div class="center" flex>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools" layout="row" layout-align="center end">
                <h2 class="md-flex">Filter Dashboard</h2>
                <md-button class="md-icon-button" aria-label="close" ng-click="vm.toggleSidenav('quick-panel')">
                    <md-icon md-font-icon="icon-arrow-right-bold">
                    </md-icon>
                </md-button>
            </div>
            <md-progress-linear class="md-warn" md-mode="indeterminate" ng-if="$root.isSearching"></md-progress-linear>

        </md-toolbar>

        <md-content layout-padding>
            <md-input-container class="md-accent" flex>
                <label class="font-size-20"><strong>Company Name </strong></label>
                <md-select ng-model="$root.companyId" class="md-accent" md-on-open="vm.loadCompanyNames()">
                    <md-option layout-padding ng-repeat="company in vm.companyNames" value="{{company.id}}">{{company.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-accent" flex>
                <label class="font-size-20"><strong>Users </strong></label>
                <md-select ng-model="$root.userId" class="md-accent" md-on-open="vm.loadUserNames()" >
                    <md-option layout-padding ng-repeat="user in vm.users" value="{{user.id}}">{{user.name}}</md-option>
                </md-select>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center end">
            <md-button class="md-raised md-primary" aria-label="Search" ng-click="vm.filterDashboard()">
                <md-icon md-font-icon="icon-magnify"></md-icon>
                <label hide-sm>Search</label>
            </md-button>
            <md-button class="md-raised md-primary" aria-label="Clear" ng-click="vm.searchClear()">
                <md-icon md-font-icon="icon-refresh"></md-icon>
                <label hide-sm>Clear</label>
            </md-button>
        </div>

    </div>
    <!-- / CENTER -->

</div>
