<div id="dashboard-project" class="page-layout simple fullwidth white-bg" layout="row" ng-cloak md-swipe-left="vm.toggleSidenav('quick-panel')">

    <!-- CENTER -->
    <div class="center" flex>
        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex layout-wrap>

            <!-- WIDGET 10 -->
            <ms-widget  layout="column" flex>

                <!-- Front -->
                <ms-widget-front class="white-bg">
                        <div class="simple-table-container">
                            <div>
                                <div class="table-title">
                                    <i class="icon-apps s18"></i>
                                    Dashboard
                                    <md-menu id="dashBoard-Menu" md-position-mode="target-right target">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-tooltip md-direction="top">
                                                All widgets are here
                                            </md-tooltip>
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content flex layout-padding center>
                                                <md-menu-item>
                                                    <md-button  aria-label="Filter widget" ng-click="vm.toggleSidenav('quick-panel')">
                                                          <span layout="row" layout-align="start center">
                                                                <md-icon md-font-icon="icon-filter"></md-icon>
                                                                <span hide-sm>Filter</span>
                                                          </span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button  aria-label="Refresh widget">
                                                      <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-reload"></md-icon>
                                                        <span hide-sm>Reload</span>
                                                      </span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item hide-sm hide-md>
                                                    <md-button  aria-label="Excel widget">
                                                        <span layout="row" layout-align="start center">
                                                             <md-icon md-font-icon="icon-file-excel"></md-icon>
                                                            <span>Excel</span>
                                                        </span>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item hide-sm hide-md>
                                                    <md-button  aria-label="PDF widget">
                                                       <span layout="row" layout-align="start center">
                                                            <md-icon md-font-icon="icon-file-pdf"></md-icon>
                                                             <span>Pdf</span>
                                                       </span>
                                                    </md-button>
                                                </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <md-divider></md-divider>

                                  <table class="dataTable row-border hover" id="dashBoardDetails"
                                       layout-padding datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs">
                                    <thead>
                                    <tr class="md-orange-A400-bg font-size-15">
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Company</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Project Name</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Status</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Project History</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Created By</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Updated</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="template in vm.templateDetails">
                                        <td>{{ template.company }}</td>
                                        <td><a ui-sref="app.pages_blank">{{ template.projectName }}</a></td>
                                        <td>{{ template.status }}</td>
                                        <td>{{ template.projectHistory }}</td>
                                        <td>{{ template.createdBy }}</td>
                                        <td>{{ template.lastUpdated }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 10 -->

        </div>
        <!-- / WIDGET GROUP -->
    </div>
    <!-- / CENTER -->


</div>
