<div style="padding-bottom: 10px">
    <div class="md-whiteframe-1dp" >
        <div id="ms-accordion-tab" class="step-table-title md-amber-A200-bg">
            {{ title }}
        </div>
        <md-divider></md-divider>
        <div id="ms-accordion-content-tab" ng-show="!collapsed" layout-padding>
            <md-tabs id="ms-content-tabs" md-no-pagination md-dynamic-height
                     md-swipe-content md-stretch-tabs="always">

            </md-tabs>
        </div>
    </div>
</div>