<div>
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="more" class="md-icon-button"
                   ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="icon-dots-vertical" style="float: right"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button  aria-label="Filter widget" ng-click="vm.toggleSidenav('quick-panel')">
                                              <span layout="row" layout-align="start center">
                                                    <md-icon md-font-icon="icon-filter"></md-icon>
                                                    <span>Filter</span>
                                              </span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button  aria-label="Refresh widget" ng-click="vm.reload()">
                                              <span layout="row" layout-align="start center">
                                                <md-icon md-font-icon="icon-reload"></md-icon>
                                                <span>Reload</span>
                                              </span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>