<ms-content>
    <div layout="row" layout-sm="column" layout-align="start center" layout-margin>
        <div flex="15">
            <md-menu>
                <md-button aria-label="Events Menu" class="md-raised" ng-mouseenter="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-font-icon="icon-library-plus">
                    </md-icon>
                    Events
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-switch ng-model="vm.splits" aria-label="Splits" ng-change="vm.changedSplitsEvents()">
                            Splits
                        </md-switch>
                    </md-menu-item>

                    <md-menu-item>
                        <md-switch ng-model="vm.earnings" aria-label="Earnings" ng-change="vm.changedEarningsEvents()">
                            Earnings
                        </md-switch>
                    </md-menu-item>

                    <md-menu-item>
                        <md-switch ng-model="vm.dividends" aria-label="Dividends" ng-change="vm.changedDividendsEvents()">
                            Dividends
                        </md-switch>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex="15">
            <md-menu>
                <md-button aria-label="Comparison Menu" class="md-raised" ng-mouseenter="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-font-icon="icon-compare">
                    </md-icon>
                    Comparison
                </md-button>
                <md-menu-content width="6">
                    <md-menu-item>
                        <md-autocomplete
                                md-no-cache="vm.noCache"
                                md-search-text-change="vm.searchTextChange(vm.searchText)"
                                md-search-text="vm.searchIndText"
                                md-selected-item-change="vm.selectedItemChange(item)"
                                md-items="item in vm.queryIndiceSearch(vm.searchIndText)"
                                md-item-text="item.display"
                                md-min-length="0"
                                md-selected-item="vm.selectedItem"
                                placeholder="Search Indices">
                            <md-item-template>
                                <span md-highlight-text="vm.searchIndText" md-highlight-flags="^i">{{item.display}}</span>
                                <div layout="row">
                                    <md-button>
                                        <md-icon md-font-icon="icon-delete"></md-icon>
                                    </md-button>
                                </div>


                            </md-item-template>
                            <md-not-found>
                                No matches found for "{{vm.searchIndText}}".
                            </md-not-found>
                        </md-autocomplete>
                    </md-menu-item>

                    <md-menu-item>
                        <md-divider></md-divider>
                    </md-menu-item>

                    <md-menu-item>
                        <md-autocomplete
                                md-no-cache="vm.noCache"
                                md-search-text-change="vm.searchTextChange(vm.searchText)"
                                md-search-text="vm.searchPeerText"
                                md-selected-item-change="vm.selectedPeerChange(item)"
                                md-items="item in vm.queryPeerSearch(vm.searchPeerText)"
                                md-item-text="item.display"
                                md-selected-item="vm.selectedPeerItem"
                                md-min-length="0"
                                placeholder="Search Peers">
                            <md-item-template>
                                <span md-highlight-text="vm.searchPeerText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matches found for "{{vm.searchPeerText}}".
                            </md-not-found>
                        </md-autocomplete>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div flex="5">
            <md-menu>
                <md-button aria-label="Calendar Menu" class="md-fab md-mini md-raised "  ng-click="$mdOpenMenu($event);">
                    <md-icon md-font-icon="icon-calendar" style="color :black;">
                    </md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-datepicker ng-model="vm.startDate" ng-change="vm.customDateChange();"
                                ></md-datepicker>
                    </md-menu-item>

                    <md-menu-item>
                        <md-datepicker ng-model="vm.endDate"></md-datepicker>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div id="toolbar-date" flex>
            <md-radio-group ng-model="vm.range" layout="row" ng-change = "vm.changedDividendsEvents()">
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('1W')">1W</md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('1M')"> 1M </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('3M')"> 3M </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('18M')"> 18M </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('1Y')"> 1Y </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('2Y')"> 2Y </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('3Y')"> 3Y </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('5Y')"> 5Y </md-button>
                <md-button class="md-icon-button" ng-click="vm.changedPeriod('10Y')"> 10Y </md-button>
            </md-radio-group>
        </div>
    </div>
</ms-content>