#toolbar-date
{
  border: 1px dotted grey;
  border-radius: 5px;
  width:60%;
}
.comparison-text
{
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 300;
}
md-checkbox{
  &.comparison{
    display:inline !important;
  }
}

