<md-dialog id="timeout-dialog" aria-label="Mango (Fruit)" ng-controller="RenewWorkUpDialogController as vm">
    <form>
        <md-toolbar>
            <div layout="row" layout-align="space-between center">
                <div class="md-toolbar-tools">
                    <h2>Renew WorkUp</h2>
                </div>
                <div ng-if="vm.isLongProcess">
                    <md-button class="md-icon-button" aria-label="Close" ng-click="vm.close()">
                        <md-icon class="icon-window-close"></md-icon>
                    </md-button>
                </div>
            </div>

        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear>
        <md-dialog-content>
            <div class="md-dialog-content">
                Use Notification Center <md-icon md-font-icon="icon-bell"></md-icon> to open.
            </div>
        </md-dialog-content>
    </form>
</md-dialog>