
$template-header-background:rgba(15, 185, 255, 0.11);
$template-header-padding:0px 10px 0px 10px;
$template-header-height: 40px;

#template-header{
  padding: $template-header-padding;
  height:$template-header-height;

 h2{
   background-color: $template-header-background;
   font-weight:bold;
   padding-left: 10px;
   border-radius: 2px;
 }
}