
<div id="template" class="widget-group" layout="column" flex layout-wrap>
    <div id="template-header" ng-if="!!templateName"  flex>
        <h2>{{templateName}}</h2>
    </div>
    <ms-widget flex>
        <!-- Front -->
        <ms-widget-front class="white-bg">
            <div class="simple-table-container">
                <div>

                    <div class="table-title"  layout="row" layout-align="space-between center">
                        <div>
                            <md-icon md-font-icon="icon-menu"></md-icon>
                            {{stepName}}
                        </div>
                        <div>
                            <md-menu id="overview-menu" md-position-mode="target-right target">
                                <md-button class="md-icon-button" ng-mouseover="$mdOpenMenu()" aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content flex layout-padding center>
                                    <md-menu-item>
                                        <md-button  aria-label="save all" ng-click="vm.saveAll()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-content-save-all"></md-icon>
                                                        <span>Save All</span>
                                                  </span>
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button  aria-label="mode widget">
                                                  <span layout="row" layout-align="start center">
                                                    <md-icon md-font-icon="icon-tablet-ipad" ></md-icon>
                                                    <span>Tablet Mode</span>
                                                  </span>

                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button  aria-label="expand all" ng-click="vm.toggleExpand()">
                                                  <span layout="row" layout-align="start center">
                                                        <md-icon md-font-icon="icon-backburger"
                                                                 ng-class="!vm.isExpandAll ? 'collapse' : 'expand'"></md-icon>
                                                        <span ng-if="!vm.isExpandAll">Collpase All</span>
                                                       <span ng-if="vm.isExpandAll">Expand All</span>
                                                  </span>
                                        </md-button>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div id="template-content" layout-padding>

                    </div>

                </div>
            </div>
        </ms-widget-front>
        <!-- / Front -->

    </ms-widget>
</div>