/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


$new-font-family: 'Helvetica Neue', Arial, sans-serif !default;

$loadingBackground: #F68C20;


button,
select,
html,
textarea,
input {
  font-family: $new-font-family;
}

#loading-bar .bar{
  background: $loadingBackground;
  //height: 4px;
}

#loading-bar .peg
{
  -moz-box-shadow: $loadingBackground 1px 0 6px 1px;
  -ms-box-shadow: $loadingBackground 1px 0 6px 1px;
  -webkit-box-shadow: $loadingBackground 1px 0 6px 1px;
  box-shadow: $loadingBackground 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  width: 95px;
  height: 95px;
  border:  solid 4px transparent;
  border-top-color:  $loadingBackground;
  border-left-color: $loadingBackground;
}


#loading-bar-spinner {
  //display: none;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;

}


#navigation
{
  z-index: 70;
}


.md-icon-button
{
  md-icon
  {
    margin-bottom: 12px;
  }
}

.table-title{
  height: 65px;
}

.margin-right-20
{
  margin-right: -20px;
}