/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


$new-font-family: 'Helvetica Neue', Arial, sans-serif !default;

$loadingBackground: #b1d23b;


button,
select,
html,
textarea,
input {
  font-family: $new-font-family;
}

#loading-bar .bar{
  background: $loadingBackground;
  //height: 4px;
}

#loading-bar .peg
{
  -moz-box-shadow: $loadingBackground 1px 0 6px 1px;
  -ms-box-shadow: $loadingBackground 1px 0 6px 1px;
  -webkit-box-shadow: $loadingBackground 1px 0 6px 1px;
  box-shadow: $loadingBackground 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  width: 95px;
  height: 95px;
  border:  solid 4px transparent;
  border-top-color:  $loadingBackground;
  border-left-color: $loadingBackground;
}


#loading-bar-spinner {
  //display: none;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;

}


#navigation
{
  z-index: 70;
}


.md-icon-button
{
  md-icon
  {
    margin-bottom: 12px;
  }
}

.table-title{
  height: 65px;
}

.margin-right-20
{
  margin-right: -20px;
}

._md-select-menu-container._md-active, md-backdrop._md-select-backdrop
{
  z-index: 100;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container
{
  z-index: 101;
}

md-select-menu.md-advisen-theme md-content
{
  padding-bottom: 50px;
}

.padding-10
{
  padding: 0px;
}

.div-content{
  height: 100%;
  border: 1px solid lightgrey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

.div-header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid lightgrey;
}

.div-main-content{
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.ai-dark-spin {
  border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5) #ffffff #ffffff;
}


@media screen
and (min-device-width: 1200px) {
  .menu-action{
    position:fixed;
    left:96%;
    top:15px;
    z-index: 99;
  }
  .step-menu-action{
    position:fixed;
    left:90%;
    top:15px;
    z-index: 99;
  }
}


@media screen and (max-width: 1199px)  {
  .menu-action{
    position:fixed;
    left:94%;
    top:15px;
    z-index: 99;
  }
  .step-menu-action{
    position:fixed;
    left:84%;
    top:15px;
    z-index: 99;
  }
}

@media screen  and (max-width: 979px)  {
  .menu-action{
    position:fixed;
    left:93%;
    top:15px;
    z-index: 99;
  }

  .step-menu-action{
    position:fixed;
    left:78%;
    top:15px;
    z-index: 99;
  }
}


@media screen and (max-width: 500px) {
  .menu-action{
    position:fixed;
    left:86%;
    top:15px;
    z-index: 99;
  }

  .step-menu-action{
    position:fixed;
    left:78%;
    top:15px;
    z-index: 99;
  }
}

md-input-container .md-input {
  color: rgba(0,0,0,0.87);
  border-color: #b5b5b5;
}

md-menu-content{
  max-height: none;
}

/*
 ******************************************
 ******************************************
   Disable animations
 ******************************************
 ******************************************
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  /** disable transitions and animations for tab-contents**/
  md-tab-content.md-right:not(.md-active) {
    animation: none;
    -webkit-animation: none;
  }

  md-tab-content.md-left:not(.md-active) {
    animation: none;
    -webkit-animation: none;
  }

  md-tab-content.md-left:not(.md-active) * {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-tab-content.md-right:not(.md-active) * {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  .md-tab {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  /**disable slider animation for thumbs **/
  md-slider .md-focus-thumb {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
    animation: none !important;
    -webkit-animation: none !important;
  }
  md-slider ._md-thumb {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }
  md-option {

    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }
  /*Disable transition for opening menu.*/

  /**disable on dialogs**/
  md-dialog._md-transition-out {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-dialog._md-transition-in {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  /**Disable on ripple buttons**/
  .md-ripple.md-ripple-placed {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  .md-ripple-container, .md-ripple-placed {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  /**Disable checkbox **/
  md-checkbox ._md-icon {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-tabs-wrapper md-next-button, md-tabs-wrapper md-prev-button {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-pagination-wrapper {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  ._md-subheader-wrapper:not(.md-sticky-no-effect) {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  ._md-sticky-clone[sticky-state=active]:not(.md-sticky-no-effect) ._md-subheader-inner {
    -webkit-animation: none !important;
    animation: none !important;
  }

  /**Disable on all other buttons**/
  .md-button {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  /**Disable fading labels**/
  md-input-container label {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  /** Disable slider animations**/
  md-slider ._md-thumb-container, ._md-focus-ring, ._md-track-fill, ._md-thumb {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-input-container .md-char-counter, md-input-container .md-input-message-animation {
    transition: none !important;
  }

  /*  Disable dropdown animations*/

  md-select-menu {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-select-menu md-content {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  ._md-select-menu-container._md-leave {
    transition: none !important;
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  md-tab-content {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  md-ink-bar.md-right {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  md-ink-bar.md-left {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  md-tab-content.md-right {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  md-tab-content.md-left {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  /*
   ******************************************
   ******************************************
     Disable box shadows
   ******************************************
   ******************************************
  */

  md-card {
    border: 1px solid rgba(0, 0, 0, .14) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  md-dialog {
    border: 1px solid rgba(0, 0, 0, .14) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  md-select-menu {
    border: 1px solid rgba(0, 0, 0, .14) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  .md-button.md-raised {
    border: 1px solid rgba(0, 0, 0, .14) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  md-toast .md-toast-content {
    /**no border needed here**/
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}