.align-right{
	text-align : right !important;
}

.align-left{
	text-align : left !important;
}

.align-center{
	text-align : center !important;
}

.align-right-for-label{
	display :block;
	float : right !important;
	text-align : right !important;
}

.align-left-for-label{
	display :block;
	float : left !important;
	text-align : left !important;
}

.align-center-for-label{
	display :block;
	text-align : center !important;
}

.align-right-tablelayout-r{
	float : right !important;
}

.align-left-tablelayout-r{
	float : left !important;
}

.align-right-non-editable-table{
	display :block;
	text-align : right !important;
}

.align-left-non-editable-table{
	display :block;
	text-align : left !important;
}

.align-center-non-editable-table{
	display :block;	
	text-align : center !important;
}