/*md-icon
{
	color: rgba(255, 255, 255, 0.70);
}*/

.search-project .md-toolbar-tools
{
	background-color: #464646;
}

md-input-container
{
  label
  {
   //font-size: 20px;
  }

  input
  {
    //font-size: 18px;
  }
}

.search-project .md-raised
{
	background-color: #464646 !important;
}


