<div >
    <div class="md-toolbar-tools md-primary tab-block-display" >
        <div class="options-row">
            <span>
                <md-button aria-label="label"  ng-click="vm.menuClick('events')" >
                    <i class="icon-plus s16"></i>
                    Events
                </md-button>
            </span>
            <span >
                <md-button aria-label="label" class="" ng-click="vm.menuClick('comparison')">
                    <i class="icon-plus s16"></i>
                    Comparison
                </md-button>
            </span>
        </div>
        <div class="options-row-2">
            <span layout="row" class="normal-font date-periods" style="float:left;margin-left:16px;padding-top:5px;">
               <span layout="row" class="normal-font long-date-periods">
                   <div ng-click="vm.setTimeRange(period)" class="timeRange" ng-class="{'selected': period==vm.selectedPeriod}" ng-repeat="period in vm.periods">{{period}}</div>
               </span>
              <span class="small-date-periods">
                   <select ng-model="vm.selectedPeriod" ng-change="vm.setTimeRange(vm.selectedPeriod)">
                       <option ng-repeat="period in vm.periods ">{{period}}</option>
                   </select>
               </span>
           </span>

            <span class="date-picker-widget">
            <div class="date-range-container icon-datepicker" ng-click="vm.menuClick('dates-customization')" style="">
                <i class="icon-calendar-select"></i>
            </div>
                </span>

            <span class="refresh-widget">
                    <md-button class="refresh-btn" aria-label="Refresh widget" >
                        <md-icon md-font-icon="icon-reload" ng-click="vm.resetFilters()"></md-icon>
                    </md-button>
            </span>
        </div>

    </div>

    <!-- events dropdown -->
    <div class="text-left option-items event-options" id="events" ng-show="vm.eventOptionVisibility">
        <div class="option-item" ng-click="vm.changeSplits()"> <i class=" s16" ng-class="{'icon-plus' : !vm.isSplits, 'icon-close red-color' : vm.isSplits}"></i>Splits</div>
        <div class="option-item"  ng-click="vm.changeEarnings()"> <i class="s16" ng-class="{'icon-plus' : !vm.isEarnings, 'icon-close red-color' : vm.isEarnings}"></i>Earnings</div>
        <div class="option-item"  ng-click="vm.changeDividens()"> <i class="s16" ng-class="{'icon-plus' : !vm.isDividents, 'icon-close red-color' : vm.isDividents}"></i>Dividends</div>
    </div>



    <!-- comparison dropdown -->
    <div class="text-left option-items comparison-options" id="comparison" ng-show="vm.comparisonOptionVisibility">
        <div class="option-item">
            <div class="option-label">Indices</div>
            <div class="option-control" >
                <select ng-options="item.value as item.description for item in vm.Indexes" ng-model="vm.selectedIndex" ng-change="vm.fetchChartData();">
                    <option value="">Select</option>
                </select>
            </div>
        </div>

        <div class="option-item">
            <div class="option-label">Peers</div>
            <div class="peer-search">
                <input type="text" placeholder="search here" ng-model="vm.searchVal"/>
                <div class="option-item text-right search-icon">
                  <span layout="row" layout-align="start center" ng-click="vm.findTickersFromServer(vm.searchVal);vm.isPeerOpen= true;">
                    <md-icon md-font-icon="icon-magnify"></md-icon>
                  </span>

                </div>
                <div class="peer-dropdown" ng-show="vm.isPeerOpen">
                    <ul >
                        <li ng-repeat="stock in vm.searchedStocks" ng-class="{'active':stock.selected}" ng-click="vm.selectPeersStock(stock)">
                            <a><span>{{stock.ticker}} ({{stock.companyName}})</span> <i class="fa  fa-check"></i></a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div class="peer-apply">
                        <button class="btn btn-apply btn-small" ng-click="vm.applyPeersSelected();vm.comparisonOptionVisibility =false;">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dates dropdown -->
    <div class="text-left option-items dates-options" id="dates-customization" ng-show="vm.dateOptionVisibility">
        <div class="option-item">
            <div class="option-label">Custom Date Range</div>
        </div>
        <div class="option-item">
            <div class="date-container">
                <span class="date-label">FROM</span>
                <span class="month-dropdown">
                    <select ng-options="item for item in vm.months track by item" ng-model="vm.from.month">
                        <option>mm</option>
                    </select>
                </span>
                 <span class="date-dropdown">
                     <select ng-options="item for item in vm.dates track by item" ng-model="vm.from.date">
                         <option>dd</option>
                     </select>
                </span>
                 <span class="year-dropdown" >
                     <select ng-options="item for item in vm.years track by item" ng-model="vm.from.year">
                         <option>yyyy</option>
                     </select>
                </span>
            </div>
            <div class="date-container">
                <span class="date-label">TO</span>
                 <span class="month-dropdown">
                    <select ng-options="item for item in vm.months track by item" ng-model="vm.to.month">
                        <option>mm</option>
                    </select>
                </span>
                 <span class="date-dropdown">
                     <select ng-options="item for item in vm.dates track by item" ng-model="vm.to.date">
                         <option>dd</option>
                     </select>
                </span>
                 <span class="year-dropdown" >
                     <select ng-options="item for item in vm.years track by item" ng-model="vm.to.year">
                         <option>yyyy</option>
                     </select>
                </span>
            </div>
        </div>
        <div class="option-item text-right">
            <input type="button" value="Cancel" class="no-border" ng-click="vm.cancelDateBox()">
            <input type="button" value="Apply" ng-click="vm.applyDates()">
        </div>
    </div>
</div>