#ms-chart-placeholder-header
{
  .md-icon-button
  {
    margin: -3px;
  }
}

#chartTitle
{
width: 250px;
}
.placeholderClass
{

}

.addButton{
  position:fixed !important;
  bottom:0px;
  width:95%;
  background:#ffffff;
}

ms-chart-placeholder:nth-child(2) .md-icon-button .icon-arrow-up, ms-chart-placeholder:last-child .md-icon-button .icon-arrow-down{
  color: #aaa;
  cursor: not-allowed;
}