#ms-chart-placeholder-header
{
  .md-icon-button
  {
    margin: -3px;
  }
}

#chartTitleContainer {
    width:70%;
}

#chartTitleContainer input {
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

#chartTitleButtonBar {
    text-align:right;
    width:30%;
}

.placeholderClass
{

}

.addButton{
  position:fixed !important;
  bottom:0px;
  width:95%;
  background:#ffffff;
}

ms-chart-placeholder:nth-child(2) .md-icon-button .icon-arrow-up, ms-chart-placeholder:last-child .md-icon-button .icon-arrow-down{
  color: #aaa;
  cursor: not-allowed;
}

//margin left is menu-content width attribute * 64 - 16 (padding right of md-menu-item )
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    margin-left:246px;
    margin-top:-100px;
}

md-menu-content.advison-date-range-menu-content {
    md-menu-item {
        md-datepicker {
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

md-menu-content.advison-comparison-menu-content {
    md-menu-item {
        md-autocomplete {
            height: $dense-menu-item-height;
            md-autocomplete-wrap {
                height: $dense-menu-item-height;
                input {
                    height: $dense-menu-item-height;
                }
            }
        }
    }
}