<div id="vm.id" class="md-whiteframe-1dp md-light-blue-A100-bg">
    <div id="ms-chart-placeholder-header" layout="row" layout-align="space-between center">
        <div layout-padding>
            <md-input-container  md-no-float class="md-accent" style="height: 10px;width: 100%">
                <input id="chartTitle" placeholder="Chart Title" ng-model="vm.title"
                       class="font-weight-700 font-size-12"/>
            </md-input-container>
        </div>
        <div layout-margin >

            <md-button class="md-icon-button" aria-label="save-chart" ng-click="vm.saveChart()">
                <md-tooltip md-direction="top">
                    Save
                </md-tooltip>
                <md-icon md-font-icon="icon-content-save"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="drag-chart">
                <md-tooltip md-direction="top">
                    Drag
                </md-tooltip>
                <md-icon md-font-icon="icon-drag"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="add-chart" ng-click="vm.addChart()">
                <md-tooltip md-direction="top">
                    Add
                </md-tooltip>
                <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="delete-chart" ng-click="vm.removeChart(vm.id)">
                <md-tooltip md-direction="top">
                    Delete
                </md-tooltip>
                <md-icon md-font-icon="icon-minus"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="refresh-chart">
                <md-tooltip md-direction="top">
                    Reset
                </md-tooltip>
                <md-icon md-font-icon="icon-refresh"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="full-screen" ng-click="vm.maximizeChart(vm.id, $event)">
                <md-tooltip md-direction="top">
                    Maximize
                </md-tooltip>
                <md-icon md-font-icon="icon-fullscreen"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-content id="ms-chart-placeholder-content" class="ms-chart-placeholder-class" layout-padding>
        <!--Inject chart dynamically into the placeholder content from ms-chart directive-->

    </md-content>
</div>




