<div  class="md-whiteframe-1dp  md-light-blue-A100-bg">
    <div id="ms-chart-placeholder-header" layout="row" layout-align="space-between center">
        <div layout-padding>
            <md-input-container  md-no-float class="md-accent" style="height: 10px;width: 160%">
                <input id="chartTitle" placeholder="Chart Title" ng-model="vm.title"
                       class="font-weight-700 font-size-12"/>
            </md-input-container>
        </div>
        <div layout-margin>

            <md-menu id="overview-menu" md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-mouseover="$mdOpenMenu()" aria-label="more">
                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                </md-button>


           <!-- <md-button class="md-icon-button" aria-label="drag-chart">
                <md-tooltip md-direction="top">
                    Drag
                </md-tooltip>
                <md-icon md-font-icon="icon-drag"></md-icon>
            </md-button>-->

            <md-button class="md-icon-button" aria-label="add-chart" ng-click="vm.addChart()" ng-if="vm.isMainChart">
                <md-tooltip md-direction="top">
                    Add as a copy
                </md-tooltip>
                <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-content id="ms-chart-placeholder-content" class="ms-chart-placeholder-class" layout-padding>
        <!--Inject chart dynamically into the placeholder content from ms-chart directive-->

    </md-content>
</div>

