<div id="step-main">
    <div id="step-header" style="height: 60px" class="md-amber-A200-bg"
         md-swipe-up="expandCollapseToggle()" layout="row" layout-align="space-between center">
        <div style="padding-left: 10px; font-size: 18px">
            <a ui-sref="app.steps({projectId:projectId, stepId:step.stepId, stepName:step.stepName})">
                {{ step.stepName }}
            </a>
        </div>
        <div>
            <div layout="row" layout-align="end center">
                <md-checkbox aria-label="select" class="no-padding-margin" ng-model="step.value" ng-disabled="(step.sections.length === 0)"  ng-change="setStepSelection($event)" style="margin-right: -20px"></md-checkbox>
                <md-button class="md-icon-button" aria-label="expand/collapse"
                           ng-disabled="!expandable"
                           ng-click="toggleExpanded()">
                    <md-icon md-font-icon="icon-backburger"
                             ng-class="isExpanded ? 'ms-expand' : 'ms-collapse'"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <md-content id="step-content" class="div-content" ng-if="isExpanded" ng-animate="'expandCollapse'">
        <md-list>
            <md-list-item  ng-repeat="section in step.sections">
                <md-checkbox class="md-secondary" ng-model="section.value" ng-change="singleSelection()"></md-checkbox>
                <p> {{ section.label }} </p>
            </md-list-item>
        </md-list>
    </md-content>
</div>
