<div id="step-header" class="step-table-title md-amber-A200-bg" md-swipe-up="expandCollapseToggle()">
    {{ step.stepName }}

    <md-button class="md-icon-button" aria-label="expand/collapse"
               ng-disabled="!expandable"
               ng-click="expandCollapseToggle()" style="float:right">
        <md-tooltip md-direction="top">
            expand/collapse
        </md-tooltip>
        <md-icon md-font-icon="icon-backburger"
        ng-class="{'expand': isExpanded, 'collapse': !isExpanded}"></md-icon>
    </md-button>

    <md-button class="md-icon-button"
               aria-label="select/unselect"
               ng-disabled="(step.sections.length === 0)"
               ng-if="!step.value"
               ng-click="setStepSelection()"
               style="float:right">
        <md-tooltip md-direction="top">
            Select all
        </md-tooltip>
        <md-icon md-font-icon="icon-select"></md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="select/unselect"
               ng-click="setStepSelection()"
               ng-if="step.value"
               style="float:right">
        <md-tooltip md-direction="top">
            Unselect all
        </md-tooltip>
        <md-icon md-font-icon="icon-select-inverse"></md-icon>
    </md-button>
</div>

<md-divider></md-divider>
<md-content id="step-content" ng-if="!isExpanded" ng-animate="'expandCollapse'">
    <md-list>
        <md-list-item  ng-repeat="section in step.sections">
            <md-checkbox class="md-secondary" ng-model="section.value" ng-change="singleSelection()"></md-checkbox>
            <p> {{ section.label }} </p>
        </md-list-item>
    </md-list>
</md-content>
