<div class="simple-chart">
    <div class="table-title">
        <ms-stock-menu save-chart="vm.saveChart" maximize-chart="vm.maximizeChart"  chart-filter-state="vm.chartFilterState"></ms-stock-menu>
    </div>
    <ms-stock-chart-with-filter chart-filter-state="vm.chartFilterState" hide-filters = 'vm.hideFiltersMain'></ms-stock-chart-with-filter>

    <div ng-repeat="savedStockChart in vm.savedStockCharts">
        <div class="table-title" >
            <ms-stock-saved-menu move-saved-chart-up="vm.moveSavedChartUp" move-saved-chart-down= "vm.moveSavedChartDown" chart-filter-state="savedStockChart" maximize-saved-chart="vm.maximizeChart"
                                 saved-stock-chart="savedStockChart" remove-saved-chart="vm.removeSavedChart"></ms-stock-saved-menu>
        </div>
        <ms-stock-chart-with-filter chart-filter-state="savedStockChart"></ms-stock-chart-with-filter>
    </div>

    <div  layout="column" class="saved-chart-container">
        <md-toolbar>
            <h2 class="md-flex">Old saved Charts </h2>
        </md-toolbar>
        <md-content flex="" layout-padding>
            <div ng-repeat="savedChart in vm.oldSavedCharts track by $index" >
                <div ng-if="savedChart.chartType ==='IMGURL'">
                    <img ng-src="{{savedChart.url}}" alt="Smiley face" height="600" width="600">
                </div>

                <div ng-if="savedChart.chartType ==='JSCHART'">
                    <ms-stock-chart-with-filter chart-filter-state="savedChart.settings"></ms-stock-chart-with-filter>
                </div>
            </div>
        </md-content>
    </div>



</div>

