<md-menu align="left" id="dashBoard-Menu" md-position-mode="target-right target">
    <md-button class="md-icon-button" ng-mouseover="$mdOpenMenu()"
               aria-label="more">
        <md-tooltip md-direction="top">
            Saved Menu
        </md-tooltip>
        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
    </md-button>

    <md-menu-content flex layout-padding center>
        <md-menu-item>
            <md-button  aria-label="Events widget" ng-click="vm.maximizeSavedChart(vm.chartFilterState)">
                              <span layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-magnify"></md-icon>
                                    <span hide-sm>Maximize</span>
                              </span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button  aria-label="Comparison widget" ng-click="vm.moveSavedChartUp(vm.savedStockChart)">
                              <span layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-arrow-up"></md-icon>
                                    <span hide-sm>Up</span>
                              </span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button  aria-label="Filter widget" ng-click="vm.moveSavedChartDown(vm.savedStockChart)">
                              <span layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-arrow-down"></md-icon>
                                    <span hide-sm>Down</span>
                              </span>
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button  aria-label="Refresh widget" ng-click="vm.removeSavedChart(vm.savedStockChart)">
                              <span layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                                <span hide-sm>Delete</span>
                              </span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>