$proposed-padding-left:10px;
$proposed-border-radius: 2px;
$proposed-hover-color: rgba(15, 185, 255, 0.35);
$proposed-input-height: 25px;


#proposed-layout
{
  border:1px dotted lightgrey;
  border-radius: 2px;

  .row
  {
    padding-left: $proposed-padding-left;
    font-weight: bold;
  }

  .row:nth-child(odd) {
    background-color: rgba(15, 185, 255, 0.11);
    border-radius: $proposed-border-radius;
  }

  .input:focus {
    outline: none !important;
    border:1px solid #f68c20;
    box-shadow: 0 0 10px rgba(253, 142, 0, 0.14);
  }

  .padding-10{
    padding: 0px;
  }

  .checkbox-column {
    width: 1%;
  }
}


