<ms-nav-item class="notify-parent" ng-class="vm.navClass">
    <a ms-nav-button md-ink-ripple ng-click="vm.showNotifications()">
        <div flex layout="row" layout-align="space-between center">
            <span class="fa fa-bell s16"></span>
            <span class="ms-nav-label">Notification Center</span>
            <span ng-if="!vm.isNotification" class="fa fa-chevron-down s16 ms-nav-label"></span>
            <span ng-if="vm.isNotification" class="fa fa-chevron-up s16 ms-nav-label"></span>
        </div>
    </a>
</ms-nav-item>
<ms-nav-item class="notify-child" ng-if="vm.isNotification && vm.notifications.length > 0" ng-repeat="notification in vm.notifications">
    <a ms-nav-button ui-sref="#" ng-click="vm.processNotification(notification)" ui-sref-active="active md-accent-bg" md-ink-ripple>
        <div layout="row" layout-align="space-between center">
            <div ng-if="notification.progress === 100">
                <i ng-if="notification.status === 'complete'" class="fa fa-check s16"></i>
                <i ng-if="notification.status === 'error'" class="fa fa-exclamation-circle s16"></i>
                <i ng-if="notification.status === 'close'" class="fa fa-close s16" ng-click="vm.close(notification)"></i>
            </div>
            <i ng-if="notification.type === 'Renewal' && notification.progress < 100" class="fa fa-refresh s16"></i>
            <i ng-if="notification.type === 'Create-WorkUp' && notification.progress < 100" class="fa fa-plus s16"></i>
            <i ng-if="notification.type === 'PDF-Download' && notification.progress < 100" class="fa fa-file-pdf-o s16"></i>
            <md-tooltip md-direction="right">{{notification.type}}</md-tooltip>
            <span class="ms-nav-label">{{notification.title }}</span>
        </div>
    </a>
</ms-nav-item>

<ms-nav-item class="notify-child" ng-if="vm.isNotification && vm.notifications.length === 0">
    <a ms-nav-button  md-ink-ripple>
        <div flex layout="row" layout-align="center center">
            <span class="ms-nav-label">No data available</span>
        </div>
    </a>
</ms-nav-item>

<a id="backgroundLink" ng-hide="true" target="_blank"></a>