// Variables
$toolbarHeight: 64px;

#notification-menu {
  height: $toolbarHeight;

  .notification-button {
    min-width: $toolbarHeight;
    height: $toolbarHeight;
    margin: 0;
    padding: 0 16px;
    border-radius: 0;

    .iso {
      text-transform: uppercase;
    }

    .flag {
      margin-right: 8px;
    }
  }

  md-menu-item .md-button {
    font-size: 15px;

    md-icon {
      margin: auto 16px auto 0;
    }
  }

}


#notification-menu-content {

  md-menu-item {

    .flag {
      margin-right: 16px;
    }
  }
}

.angular-notifications-icon
{
  background: #b1d23b;
  right: -5px;
  top: 0px;
  min-width: 20px;
  height: 20px;


  div
  {
    color: white;
    line-height: 1;
    font-size: small;
    font-weight: bold;
  }
}

.progress-wrapper{
  position: relative;

}

.progress-value {
  top: 28%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.nav-active{
  border-left: 3px solid #b1d23b;
}

.notify-parent{
  background-color:#4f4f4f;
}

.notify-child{
  background-color:#575757
}

.bg-notify-animation{
  background: linear-gradient(273deg, rgba(32, 167, 15, 0.33), rgba(32, 231, 106, 0));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 0s ease infinite;
  animation: AnimationName 10s ease infinite;
}

.tooltipContainer{
  max-width: 40em;
  height: auto;
  word-break: break-all; 
  white-space: normal;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}
@keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}

.ai-circled{
  height: 16px;
  width: 16px;
}