<md-menu id="notification-menu" md-offset="0 72" md-position-mode="target-right target" style="overflow: hidden">


    <md-button class="notification-button" ng-click="$mdOpenMenu()"
               aria-label="Notification" md-menu-origin md-menu-align-target>
        <notification-icon animation="grow"  count="vm.notifications.length">
            <md-icon md-font-icon="icon-bell"></md-icon>
        </notification-icon>
    </md-button>

    <md-menu-content width="6" id="notification-menu-content">
        <md-menu-item ng-repeat="notification in vm.notifications"  ng-if="vm.notifications.length > 0">
            <span layout="column">
                <span layout-wrap layout="row" layout-fill layout-align="space-between center">
                    <md-button layout="row" ng-disabled="notification.disabled" ng-click="vm.processNotification(notification)" layout-align="start center">
                        <table>
                            <tr>
                                <td><md-icon md-font-icon="{{notification.icon}}"></md-icon> &nbsp;</td>
                                <td><span>{{notification.title}} &nbsp;</span></td>
                                <td><span> - {{notification.type}} &nbsp;</span></td>
                            </tr>
                        </table>
                    </md-button>

                    <div class="progress-wrapper" ng-if="notification.progress < 100 && notification.istrackable">
                        <round-progress max="100"
                                        current="notification.progress"
                                        color="#45ccce"
                                        bgcolor="#eaeaea"
                                        radius="20"
                                        stroke="10"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0">
                        </round-progress>
                        <div class="progress-value">{{notification.progress}}</div>
                    </div>

                    <div ng-activity-indicator="DottedDark" skip-ng-show="yes" ng-if="notification.progress < 100 && !notification.istrackable"></div>

                    <div class="progress-wrapper" ng-if="notification.progress === 100">
                        <md-icon md-font-icon="icon-check-circle" ng-if="notification.status === 'complete'"
                                 style="color:rgba(106, 255, 145, 0.88); font-weight: bolder"></md-icon>

                        <md-icon md-font-icon="icon-alert-circle" ng-if="notification.status === 'error'"
                                 style="color:rgba(255, 77, 43, 0.88); font-weight: bolder"></md-icon>

                        <md-button class="md-icon-button" ng-click="vm.close(notification)" ng-if="notification.status === 'close'"
                                   style="padding-bottom: 10px">
                            <md-icon md-font-icon="icon-close-circle-outline" style="font-weight: bolder"></md-icon>
                        </md-button>

                    </div>
                </span>
                <md-divider></md-divider>
            </span>

        </md-menu-item>

        <md-menu-item ng-if="vm.notifications.length == 0">
            <md-button  aria-label="No Notifications">
                    <span layout="row" layout-align="start center">
                        <span style="font-size: small">No notification available</span>
                    </span>
            </md-button>
        </md-menu-item>


    </md-menu-content>


</md-menu>
<a id="backgroundLink" ng-hide="true" target="_blank"></a>