div#analyst-reports-list {
    >ms-accordion {
        >div#ms-accordion {
            padding: 0;
            min-height: 50px;
            >div {
                padding: 1%;
                min-height: 50px;
            }
        }
    }
}