<ms-content hide-xs hide-sm>
    <div layout="row" layout-sm="column" layout-align="start center">
        <div flex="50">
            <md-menu-bar layout="row" layout-sm="column" layout-align="center center">
                <md-menu flex="33" style="text-align: center">
                    <button ng-click="$mdOpenMenu();" style="width:130px; border: 1px solid rgba(0,0,0,0.12);">
                        RATIO TYPE
                        <md-icon md-font-icon="icon-chevron-down" aria-label="icon-chevron-down"></md-icon>
                    </button>
                    <md-menu-content class="md-menu-content-height">
                        <md-menu-item>
                            <md-radio-group ng-model="vm.filterState.chartType" style="padding-bottom: 25px; padding-left: 15px;">
                                <md-radio-button class="md-icon-button" ng-repeat="item in vm.ratioTypes" aria-label="{{item.label}}"
                                                 ng-value="item.value"
                                                 ng-disabled="{{item.value == null}}"
                                                 ng-click="vm.changedRatioSelection(item.value, item.label)">
                                    {{item.label}}
                                </md-radio-button>
                            </md-radio-group>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu flex="33" style="text-align: center">
                    <button ng-click="$mdOpenMenu();" style="width:140px; border: 1px solid rgba(0,0,0,0.12);">
                        COMPETITORS
                        <md-icon md-font-icon="icon-chevron-down" aria-label="icon-chevron-down"></md-icon>
                    </button>
                    <md-menu-content width="4" class="advison-comparison-menu-content">
                        <md-menu-item>
                            <md-menu md-offset="13 -110">
                                <md-button ng-click="$mdOpenMenu();" md-theme="advisen"
                                           class="md-raised btncomp">
                                    Peers &amp; Industries
                                </md-button>
                                <md-menu-content class="md-menu-content-height">
                                    <md-menu-item ng-repeat="item in vm.competitorList" style="padding-bottom: 25px; padding-left: 15px;">
                                        <md-checkbox ng-change="vm.updatePeerIds(item)"
                                                     ng-model="item.selectedCompetitorCheck"
                                                     ng-disabled="{{item.value == null}}"
                                                     aria-label="{{item.label}}">
                                            {{item.label}}
                                        </md-checkbox>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-autocomplete class="md-warn"
                                             md-no-cache="false"
                                             md-search-text-change=""
                                             md-search-text="vm.searchPeerText"
                                             md-selected-item-change="vm.selectedPeerChange(item)"
                                             md-items="item in vm.queryPeerSearch(vm.searchPeerText)"
                                             md-item-text="item.display"
                                             md-selected-item="vm.selectedPeerItem"
                                             md-min-length="1"
                                             md-menu-class="autocomplete-config"
                                             placeholder="Search Peers">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchPeerText"
                                          md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found for "{{vm.searchPeerText}}".
                                </md-not-found>
                            </md-autocomplete>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <section layout="row" layout-sm="column" layout-align="space-around center">
                                <md-button style="text-align:center" class="md-raised md-cornered" ng-click="vm.commitChanges();"> Apply</md-button>
                                <md-button style="text-align:center" class="md-raised md-cornered" ng-click="vm.clear();"> Clear</md-button>
                            </section>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu flex="33" style="text-align: center">
                    <button ng-click="$mdOpenMenu();" style="width:130px; border: 1px solid rgba(0,0,0,0.12);">
                        DATE RANGE
                        <md-icon md-font-icon="icon-chevron-down" aria-label="icon-chevron-down"></md-icon>
                    </button>
                    <md-menu-content width="3" class="advison-date-range-menu-content">
                        <md-tooltip md-direction="top" md-autohide="false" class="ifcChartToolbarTooltip">System does not include data prior to 01/01/1996. <br>Earliest valid 'From' date is 01/01/1996. <br>Latest valid 'To' date is current date.</md-tooltip>
                        <md-menu-item>
                            <md-datepicker ng-model="vm.startDate" md-min-date="vm.minStartDate" md-max-date="vm.maxStartDate"
                                           ng-model-options="{updateOn: 'default blur'}" ng-blur="vm.onBlur($event, 'startDate')"
                                           ng-change="vm.customDateChange()"></md-datepicker>
                        </md-menu-item>
                        <md-menu-item>
                            <md-datepicker ng-model="vm.endDate" md-min-date="vm.minEndDate" md-max-date="vm.maxEndDate"
                                           ng-model-options="{updateOn: 'default blur'}" ng-blur="vm.onBlur($event, 'endDate')"
                                           ng-change="vm.customDateChange()"></md-datepicker>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div id="toolbar-date" flex>
            <md-radio-group ng-model="vm.range" layout="row">
                <md-button class="md-icon-button" flex ng-class="{'period-selected': vm.filterState.chartPeriod === '1'}"
                           ng-click="vm.changedPeriod('1')">
                    1Y
                </md-button>
                <md-button class="md-icon-button" flex ng-class="{'period-selected': vm.filterState.chartPeriod === '2'}"
                           ng-click="vm.changedPeriod('2')">
                    2Y
                </md-button>
                <md-button class="md-icon-button" flex ng-class="{'period-selected': vm.filterState.chartPeriod === '3'}"
                           ng-click="vm.changedPeriod('3')">
                    3Y
                </md-button>
                <md-button class="md-icon-button" flex ng-class="{'period-selected': vm.filterState.chartPeriod === '5'}"
                           ng-click="vm.changedPeriod('5')">
                    5Y
                </md-button>
                <md-button class="md-icon-button" flex ng-class="{'period-selected': vm.filterState.chartPeriod === '10'}"
                           ng-click="vm.changedPeriod('10')">
                    10Y
                </md-button>
            </md-radio-group>
        </div>
    </div>
</ms-content>