#history-main{
  padding: 5px;

  #history-header{

    height: 60px;
    background-color : #464646 !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    .header{
      color: #b1d23b;
      padding-left: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }

}
