<div id="history-main">
    <div id="history-header" class="md-amber-A200-bg"
         md-swipe-up="expandCollapseToggle()" layout="row" layout-align="space-between center">
        <div class="header">
            History Details
        </div>
        <div>
            <div layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Filter widget" style="margin-right: -10px" ng-click="vm.toggleSidenav('quick-panel')">
                    <md-icon md-font-icon="icon-filter"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Filter widget"  ng-click="vm.removeFilter('All')">
                    <md-icon md-font-icon="icon-reload"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <md-content class="div-content">

        <div class="dashboard-filter-summary" layout-padding
             ng-show="vm.searches && vm.searches.length > 0">
            <span>Filter Criteria: </span>
            <md-chips ng-model="vm.searches" ng-click="vm.removeFilter('')" readonly="true" md-removable="true"></md-chips>
        </div>

        <div ng-hide="vm.isProcessing">
            <table class="row-border cell-border table-bordered"  width="100%"
                   id="projectHistoryDetails" layout-padding datatable="ng"
                   dt-column-defs="vm.dtColumnDefs"
                   dt-instance="vm.dtInstanceCallback"
                   dt-options="vm.dtOptions" dt-options="vm.dtOptions">
                <thead>
                <tr>
                    <th style="display:none"></th>
                    <th><span>Log Id</span></th>
                    <th><span>Step</span></th>
                    <th><span>Field Name</span></th>
                    <th><span>Old Value</span></th>
                    <th><span>New Value</span></th>
                    <th><span>Work-up Used</span></th>
                    <th><span>Modified By</span></th>
                    <th><span>Modified Date</span></th>
                    <th><span>Action</span></th>


                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in vm.historyList">
                    <td style="display:none">{{history.index}}</td>
                    <td>{{history.logId}}</td>
                    <td data-sort="{{history.step_id}}">{{history.stepName}}</td>
                    <td>{{history.fieldName}}</td>
                    <td>{{history.oldValue}}</td>
                    <td>{{history.newValue}}</td>
                    <td>{{history.workupUsed}}</td>
                    <td>{{history.modifiedBy}}</td>
                    <td>{{history.modifiedDate}}</td>
                    <td>{{history.action}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</div>


