<div id="history-main">
    <div id="history-header" class="md-amber-A200-bg"
         md-swipe-up="expandCollapseToggle()" layout="row" layout-align="space-between center">
        <div class="header">
            History Details
        </div>
        <div>
            <div layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Filter widget" style="margin-right: -10px" ng-click="vm.toggleSidenav('quick-panel')">
                    <md-icon md-font-icon="icon-filter"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Filter widget"  ng-click="vm.removeFilter('All')">
                    <md-icon md-font-icon="icon-reload"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <md-content class="div-content">

        <div class="dashboard-filter-summary" layout-padding
             ng-show="vm.searches && vm.searches.length > 0">
            <span>Filter Criteria: </span>
            <md-chips ng-model="vm.searches" ng-click="vm.removeFilter('')" readonly="true" md-removable="true"></md-chips>
        </div>

        <table class="row-border cell-border table-bordered" ms-export width="100%"
               id="projectHistoryDetails" layout-padding datatable="" dt-options="vm.dtOptions"
               dt-columns="vm.dtColumns" dt-instance="vm.dtInstanceCallback">
        </table>
    </md-content>
</div>


